<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<header th:fragment="header">
    <h1>Code Fellowship</h1>

    <nav>
    <span th:if="${user}">
            <a href="/myprofile">My Profile</a>
            <span th:text="'Welcome, ' + ${user.username} + '!'"></span>
            <a href="/feed">My Feed</a>
            <a href="/addpost">Add Post</a>
            <a href="/users">Find Users</a>
            <a href="/logout">Log out</a>
        </span>

        <span th:unless="${user}">
            <a href="/login">Log in</a>
            <a href="/signup">Sign up</a>
    </span>
    </nav>
</header>

</body>
</html>