<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Fellowship</title>
</head>
<body>
    <header>
        <h1>My Feed</h1>
        <nav th:replace="fragments/nav :: nav"></nav>
    </header>

    <div th:each="user : ${user.usersIAmFollowing}">
        <article th:each="post : ${user.posts}">
            <h4 th:text="${post.user.username} + ' at ' + ${post.time}">Username and Time Posted</h4>
            <p th:text="${post.body}">Post Body</p>
        </article>
    </div>
</body>
</html>