<!DOCTYPE html>
<html xmlns:th="">
  <head>
    <head th:replace="fragments/head :: head">
  </head>

  <body>

    <header th:replace="fragments/header :: header">

    </header>
    <h2>Sign Up for Code Fellowship!</h2>

    <p class="error" th:if="${param.taken}">Sorry, that username was already taken. Please try a new username.</p>

    <form action="/signup" method="POST">
      <label>Username <input name="username"/> </label>
      <label>Password <input type="password" name="password" /></label>
      <label>First Name <input name="firstName" /></label>
      <label>Last Name <input name="lastName" /></label>
      <label>Date of Birth <input type="date" name="dob" /></label>
      <input type="submit" />
    </form>    
  </body>
</html>